* {
  margin: 0;
  padding: 0;
  font-size: 0; }

#header {
  height: 250px; }

#footer {
  height: 207px; }

.container {
  width: 1400px;
  margin: 0 auto; }

.width-fixed {
  width: 1400px;
  margin: 0 auto; }

.log {
  margin-top: 90px !important;
  width: 99px;
  height: 99px;
  background: url("../img/page1/logo.png") no-repeat;
  background-size: 100%; }

body {
  background-color: #FEE6E6; }

header {
  display: flex;
  justify-content: space-between;
  margin-top: 30px; }

.icon {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 16px;
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  cursor: pointer; }

.actived {
  color: #FA6497; }

nav {
  position: relative; }
  nav input {
    position: relative;
    left: 670px;
    font-size: 16px;
    padding-left: 5px;
    width: 225px;
    height: 40px;
    border: 1px solid #AE2C2C;
    border-radius: 20px;
    background-color: #FEE6E6; }
  nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 40px 0 40px 90px;
    font-size: 24px;
    text-decoration: none;
    color: #AE2C2C; }
  nav ul li:hover {
    color: #FA6497; }

.flex {
  display: flex;
  justify-content: space-around; }

footer {
  background-color: #FE8A8A; }
  footer ul {
    line-height: 130px; }
  footer li, footer p {
    font-size: 16px !important;
    font-weight: 800; }
  footer li {
    padding: 0 20px;
    display: inline-block;
    list-style-type: none;
    cursor: pointer; }
  footer div {
    padding: 35px 0; }

.follow {
  margin-top: 50px;
  text-align: center; }
  .follow p {
    margin-top: 20px;
    font-size: 16px; }
  .follow h4 {
    font-size: 20px; }
  .follow img {
    margin-top: 30px; }

.follow {
  padding-bottom: 50px; }
  .follow img:nth-of-type(2) {
    margin-left: 60px; }

.container {
  width: 1400px;
  margin: 0 auto;
  position: relative; }

.sec-1 .banner {
  position: relative;
  height: 556px; }
  .sec-1 .banner img {
    position: absolute;
    width: 1400px;
    transition: 2s; }
  .sec-1 .banner .btn {
    width: 1300px;
    margin: 0 auto;
    position: relative;
    top: 250px;
    display: flex;
    justify-content: space-between; }
    .sec-1 .banner .btn span {
      background-color: #000000;
      line-height: 40px;
      color: #ffffff;
      font-size: 50px;
      padding-bottom: 10px;
      opacity: 0;
      cursor: pointer; }
    .sec-1 .banner .btn span:hover {
      opacity: 0.5 !important; }
  .sec-1 .banner ul {
    position: relative;
    top: 450px;
    left: 675px;
    width: 100px; }
    .sec-1 .banner ul li {
      display: inline-block;
      width: 2px;
      height: 2px;
      border-radius: 50%;
      background-color: darkgray;
      margin: 0 2px; }
    .sec-1 .banner ul li:nth-of-type(1) {
      width: 5px;
      height: 5px; }
    .sec-1 .banner ul li:last-of-type {
      width: 5px;
      height: 5px; }
  .sec-1 .banner .circle {
    position: relative;
    top: 440px;
    left: 672px;
    width: 72px;
    display: flex;
    justify-content: space-between; }
    .sec-1 .banner .circle i {
      width: 15px;
      height: 15px;
      border-radius: 50px;
      background-color: darkgray;
      opacity: 0; }

.sec-2 {
  margin-top: 30px; }
  .sec-2 #nav-list {
    font-size: 20px; }
    .sec-2 #nav-list li {
      display: inline-block; }
      .sec-2 #nav-list li a {
        transition: 1s;
        font-size: 16px;
        color: #000000;
        text-decoration: none; }
      .sec-2 #nav-list li a:hover {
        color: darkgray; }
  .sec-2 #shop-search li {
    position: relative;
    list-style-type: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 50px;
    margin-top: 20px;
    height: 30px;
    cursor: pointer;
    z-index: 2; }
    .sec-2 #shop-search li div {
      padding-top: 50px;
      position: absolute;
      width: 1400px;
      border-top: 1px solid #000000;
      border-bottom: 1px solid #000000;
      display: none;
      margin-top: 10px;
      height: 250px;
      background-color: #ffffff;
      padding-left: 10px; }
      .sec-2 #shop-search li div span {
        font-size: 16px;
        margin-right: 100px; }
      .sec-2 #shop-search li div span:hover {
        color: #A98F83; }
  .sec-2 #shop-search li:nth-of-type(2) > div {
    left: -85px; }
  .sec-2 #shop-search li:nth-of-type(3) > div {
    left: -160px; }
  .sec-2 #shop-search li:nth-of-type(4) > div {
    left: -235px; }
  .sec-2 #shop-search li:nth-of-type(5) > div {
    left: -330px; }
  .sec-2 #shop-search li:after {
    position: absolute;
    top: 5px;
    left: 45px;
    content: '';
    width: 8px;
    height: 8px;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    transform: rotate(45deg); }
  .sec-2 #shop-search li:hover {
    color: #A98F83; }
    .sec-2 #shop-search li:hover div {
      display: block; }
    .sec-2 #shop-search li:hover span {
      color: #000000; }
  .sec-2 #shop-search li:hover li:after {
    border-color: #A98F83; }

#shop-list {
  position: relative;
  margin-top: 30px;
  background-color: #F4F2F3;
  padding: 0 15px; }
  #shop-list li {
    position: relative;
    margin: 30px 17px 0 18px;
    height: 520px;
    display: inline-block;
    background-color: white; }
    #shop-list li img {
      width: 420px;
      height: 490px; }
    #shop-list li h3 {
      position: relative;
      top: -100px;
      font-size: 18px;
      color: #A98F83;
      text-align: center; }
    #shop-list li p {
      position: relative;
      top: -100px;
      margin-top: 10px;
      font-size: 16px;
      color: #A98F83;
      text-align: center; }
    #shop-list li div {
      position: relative;
      top: -100px;
      border: 1px solid #A98F83;
      width: 276px;
      margin: 0 auto;
      margin-top: 10px; }
      #shop-list li div span {
        display: inline-block;
        font-size: 16px;
        padding: 10px 45px;
        color: #A98F83;
        cursor: pointer; }
      #shop-list li div span:nth-of-type(2) {
        color: #ffffff;
        background-color: #A98F83; }

.sec-li {
  margin-top: 100px;
  background-color: #FEB8B8;
  padding: 50px;
  border-radius: 30px; }
  .sec-li ul {
    display: flex;
    justify-content: space-around; }
    .sec-li ul li span {
      display: block;
      font-size: 16px; }

/*# sourceMappingURL=1.css.map */
