* {
  margin: 0;
  padding: 0;
  font-size: 0; }

#header {
  height: 250px; }

#footer {
  height: 207px; }

.container {
  width: 1400px;
  margin: 0 auto; }

.width-fixed {
  width: 1400px;
  margin: 0 auto; }

.log {
  margin-top: 90px !important;
  width: 99px;
  height: 99px;
  background: url("../img/page1/logo.png") no-repeat;
  background-size: 100%; }

body {
  background-color: #FEE6E6; }

header {
  display: flex;
  justify-content: space-between;
  margin-top: 30px; }

.icon {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 16px;
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  cursor: pointer; }

.actived {
  color: #FA6497; }

nav {
  position: relative; }
  nav input {
    position: relative;
    left: 670px;
    font-size: 16px;
    padding-left: 5px;
    width: 225px;
    height: 40px;
    border: 1px solid #AE2C2C;
    border-radius: 20px;
    background-color: #FEE6E6; }
  nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 40px 0 40px 90px; }
    nav ul li a {
      font-size: 24px;
      text-decoration: none;
      color: #AE2C2C; }
    nav ul li a:hover {
      color: #FA6497; }

.flex {
  display: flex;
  justify-content: space-around; }

footer {
  background-color: #FE8A8A; }
  footer ul {
    line-height: 130px; }
  footer li, footer p {
    font-size: 16px !important;
    font-weight: 800; }
  footer li {
    padding: 0 20px;
    display: inline-block;
    list-style-type: none;
    cursor: pointer; }
  footer div {
    padding: 35px 0; }

.follow {
  margin-top: 50px;
  text-align: center; }
  .follow p {
    margin-top: 20px;
    font-size: 16px; }
  .follow h4 {
    font-size: 20px; }
  .follow img {
    margin-top: 30px; }

.container {
  width: 1400px;
  margin: 0 auto;
  position: relative; }

.sec-1 {
  position: relative;
  margin-top: 10px;
  padding-bottom: 80px; }
  .sec-1 img {
    margin-left: 100px; }
  .sec-1 .left {
    position: absolute;
    left: -14.5px;
    top: 305px; }
    .sec-1 .left i {
      display: flex;
      flex-direction: column; }
      .sec-1 .left i img {
        margin-left: 0;
        margin-top: 10px;
        width: 29px;
        height: 21px; }
    .sec-1 .left p {
      margin-top: 20px;
      width: 55px;
      margin-left: 14.5px;
      font-size: 24px;
      color: #AE2C2C;
      font-family: "CommercialScript BT"; }
  .sec-1 .right-top {
    position: absolute;
    right: 100px;
    top: 50px; }
    .sec-1 .right-top p {
      width: 145px;
      font-size: 48px;
      color: #AE2C2C;
      font-family: "CommercialScript BT";
      text-align: center; }
  .sec-1 .right-buttom {
    position: absolute;
    right: 0;
    bottom: 0; }
    .sec-1 .right-buttom img {
      margin-left: 0; }
    .sec-1 .right-buttom p {
      font-size: 36px;
      writing-mode: vertical-lr;
      margin-top: 50px;
      line-height: 76px;
      font-family: "CommercialScript BT";
      color: #AE2C2C; }

.cross {
  display: block;
  border: 2px solid #AE2C2C;
  width: 120px;
  margin: 60px auto; }

.sec-2 {
  margin-top: 50px; }
  .sec-2 .title {
    display: flex;
    justify-content: center; }
  .sec-2 .tip {
    width: 48px;
    height: 24px; }
  .sec-2 p {
    margin: 0 50px;
    line-height: 15px;
    font-size: 36px;
    color: #AE2C2C; }
  .sec-2 .text p {
    font-size: 18px;
    line-height: 60px;
    text-align: center;
    color: #AE2C2C; }

.sec-3 {
  margin-top: 50px;
  position: relative; }
  .sec-3 .title {
    display: flex;
    justify-content: center; }
  .sec-3 .tip {
    width: 48px;
    height: 24px; }
  .sec-3 p {
    margin: 0 50px;
    line-height: 15px;
    font-size: 36px;
    color: #AE2C2C; }
  .sec-3 .banner {
    margin-left: 150px;
    margin-top: 80px;
    width: 1085px;
    height: 800px;
    overflow: hidden;
    position: relative; }
    .sec-3 .banner ul {
      position: relative;
      width: 3081px;
      left: -333px;
      margin-top: 50px; }
      .sec-3 .banner ul li {
        position: relative;
        vertical-align: middle;
        margin: 0 15px;
        display: inline-block;
        width: 300px;
        height: 600px;
        overflow: visible; }
        .sec-3 .banner ul li div {
          width: 300px;
          height: 600px;
          background-color: #FEB8B8;
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); }
        .sec-3 .banner ul li img {
          margin-left: 70px;
          margin-top: 150px; }
        .sec-3 .banner ul li p {
          font-size: 23px;
          color: #AE2C2C;
          line-height: 60px;
          text-align: center;
          margin-top: 40px; }
        .sec-3 .banner ul li .btn {
          width: 120px;
          margin: 0 auto;
          border: 1px solid #AE2C2C;
          display: block;
          text-align: center;
          color: #AE2C2C;
          font-size: 18px;
          border-radius: 10px;
          margin-top: 20px; }

.shape-t {
  width: 400px !important;
  height: 750px !important; }
  .shape-t .num {
    display: block;
    position: absolute;
    left: 153px !important;
    top: -35px !important;
    width: 80px !important;
    height: 80px;
    border: 5px solid #d68989;
    border-radius: 50%;
    background-color: white;
    font-size: 50px;
    text-align: center;
    line-height: 80px !important; }

.shape {
  width: 400px !important;
  height: 750px !important;
  background-color: #FE8A8A !important;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); }
  .shape img {
    margin-left: 115px !important;
    margin-top: 180px !important; }
  .shape p {
    font-size: 23px !important;
    color: #AE2C2C;
    line-height: 60px !important;
    text-align: center;
    margin-top: 40px !important; }
  .shape .btn {
    width: 120px !important;
    margin: 0 auto;
    border: 1px solid #AE2C2C;
    display: block;
    text-align: center;
    color: #AE2C2C;
    font-size: 18px !important;
    border-radius: 10px;
    margin-top: 20px !important; }

.num {
  display: block;
  position: absolute;
  left: 109px;
  top: -35px;
  width: 70px;
  height: 70px;
  border: 5px solid #d68989;
  border-radius: 50%;
  background-color: white;
  font-size: 50px;
  text-align: center;
  line-height: 70px; }

.btn-container {
  position: relative;
  top: -400px;
  display: flex;
  justify-content: space-between; }

#btn1 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: url("../img/page1/btn1.png") no-repeat;
  cursor: pointer; }

#btn2 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: url("../img/page1/btn2.png") no-repeat;
  cursor: pointer; }

.sec-4 {
  margin-top: 100px;
  width: 100%;
  background-color: #FE8A8A;
  height: 350px; }

.sec-5 {
  position: relative;
  top: -210px;
  background-color: #FEB8B8; }
  .sec-5 .sec-5-top {
    position: relative; }
    .sec-5 .sec-5-top img {
      margin-left: 75px;
      margin-top: -35px;
      display: inline-block; }
    .sec-5 .sec-5-top article {
      margin-left: 40px;
      display: inline-block;
      width: 440px;
      color: #AE2C2C; }
      .sec-5 .sec-5-top article h3 {
        font-size: 30px; }
      .sec-5 .sec-5-top article p {
        margin-top: 30px;
        font-size: 18px;
        line-height: 35px; }
  .sec-5 .sec-5-bottom {
    margin-top: 100px;
    display: block;
    padding-bottom: 80px; }
    .sec-5 .sec-5-bottom h1 {
      font-size: 36px;
      color: #AE2C2C;
      background: url("../img/page1/ic-address.png") 460px 0px no-repeat;
      text-align: center; }
    .sec-5 .sec-5-bottom span {
      display: block;
      text-align: center;
      padding: 5px 0;
      width: 260px;
      margin: 0 auto;
      margin-top: 40px;
      border-radius: 5px;
      background-color: #AE2C2C;
      font-size: 24px;
      color: #ffff; }

.sec-6 {
  position: relative;
  top: -100px;
  overflow: hidden; }
  .sec-6 .sec-6-1 img {
    position: relative;
    bottom: 230px;
    display: inline-block;
    margin-left: 260px; }
  .sec-6 .sec-6-1 p {
    margin-left: 90px;
    display: inline-block;
    font-size: 18px;
    line-height: 40px;
    color: #AE2C2C;
    font-weight: 800; }

.sec-6-2 {
  margin-top: 120px;
  height: 950px; }
  .sec-6-2 article {
    position: relative;
    top: -200px;
    display: inline-block;
    width: 700px; }
    .sec-6-2 article h3 {
      text-align: center;
      font-size: 30px;
      color: #AE2C2C; }
    .sec-6-2 article p {
      position: relative;
      left: 230px;
      text-align: center;
      width: 236px;
      color: #AE2C2C;
      line-height: 36px;
      font-size: 18px;
      margin: 0; }
  .sec-6-2 div {
    position: relative;
    width: 610px;
    display: inline-block;
    background-color: #FEB8B8;
    padding-bottom: 50px; }
    .sec-6-2 div .square {
      display: block;
      background-color: yellow;
      width: 90px;
      height: 130px;
      opacity: 0.2; }
    .sec-6-2 div img {
      position: relative;
      display: block;
      margin: -75px 40px 0 40px;
      z-index: 2; }
    .sec-6-2 div .more {
      position: relative;
      left: 399px;
      display: block;
      padding: 15px 0;
      width: 170px;
      background-color: #FE8A8A;
      text-align: center; }
      .sec-6-2 div .more a {
        text-decoration: none;
        font-size: 18px;
        color: #ffffff; }
    .sec-6-2 div .cross {
      width: 90px;
      margin-top: 30px !important;
      margin-bottom: 30px;
      margin-left: 180px; }
    .sec-6-2 div p {
      font-size: 24px;
      color: #AE2C2C;
      margin-left: 130px; }
    .sec-6-2 div .arrow-a {
      position: absolute;
      right: 30px;
      bottom: 50px;
      text-decoration: none; }
    .sec-6-2 div .arrow {
      font-size: 100px;
      color: #AE2C2C; }
  .sec-6-2 .cross-1 {
    display: block;
    position: relative;
    top: -112px;
    left: 546px;
    width: 150px;
    border: 2px solid #AE2C2C; }
  .sec-6-2 aside {
    position: relative;
    top: -190px;
    width: 320px;
    height: 320px;
    background-color: #FEB8B8; }
    .sec-6-2 aside .more {
      position: relative;
      top: 20px;
      left: 140px;
      display: block;
      font-size: 18px;
      color: #ffffff;
      width: 170px;
      padding: 15px 0;
      background-color: #FE8A8A;
      text-align: center; }
      .sec-6-2 aside .more a {
        font-size: 18px;
        color: #ffffff;
        text-decoration: none; }
    .sec-6-2 aside img {
      position: relative;
      top: -110px;
      margin-left: 30px; }
    .sec-6-2 aside .square {
      position: relative;
      top: 136px;
      display: block;
      background-color: yellow;
      width: 90px;
      height: 130px;
      opacity: 0.2; }

.sec-7 > ul {
  display: flex;
  justify-content: space-around; }
  .sec-7 > ul li {
    text-align: center;
    background-color: #FEB8B8; }
    .sec-7 > ul li img {
      margin-top: 30px; }
    .sec-7 > ul li h2 {
      margin-top: 30px;
      font-size: 24px;
      color: #AE2C2C;
      line-height: 36px; }
    .sec-7 > ul li p {
      margin: 0 20px 0 20px;
      font-size: 18px;
      color: #AE2C2C;
      width: 250px;
      line-height: 36px; }
    .sec-7 > ul li h3 {
      font-size: 24px;
      color: lightcoral;
      line-height: 36px;
      margin-bottom: 20px; }

.follow {
  padding-bottom: 50px; }
  .follow img:nth-of-type(2) {
    margin-left: 60px; }

/*# sourceMappingURL=index.css.map */
