$fixedWidth:1400px;
$bgPink:#FEE6E6;
$bgPink2:#FEB8B8;
$bgPink3:#FE8A8A;
$red:#AE2C2C;
*{
	margin: 0;
	padding: 0;
  font-size: 0;
}
#header{
  height: 250px;
}
#footer{
  height: 207px;
}
.container{
  width: 1400px;
  margin: 0 auto;
}
.width-fixed{
  width:1400px;
  margin: 0 auto;
}
.log{
  margin-top: 90px!important;
  width: 99px;
  height: 99px;
  background: url("../img/page1/logo.png") no-repeat;
  background-size:100%;

}
body{
	background-color: $bgPink;
}
header{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.icon {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 16px;
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  cursor: pointer;
}
.actived{
  color: #FA6497;
}
nav{
  position: relative;
input{
  position:relative;
  left:670px;
  font-size: 16px;
  padding-left: 5px;
  width: 225px;
  height: 40px;
  border: 1px solid $red;
  border-radius:20px;
  background-color: $bgPink;
}
  ul{
    li{
      list-style-type: none;
      display: inline-block;
      padding:40px 0 40px 90px;
        font-size: 24px;
        text-decoration: none;
        color: $red;
      cursor: pointer;
    }
    li:hover{
      color: #FA6497;
    }
  }
}
.flex{
  display: flex;
  justify-content: space-around;
}
footer{
  ul{
    line-height: 130px;
  }
  background-color: $bgPink3;
  li,p{
    font-size: 16px!important;
    font-weight: 800;
  }
  li{
    padding: 0 20px;
    display: inline-block;
    list-style-type: none;
    cursor: pointer;
  }
  div{
    padding: 35px 0;
  }
}
.follow{
  margin-top: 50px;
  text-align: center;
  p{
    margin-top: 20px;
    font-size: 16px;
  }
  h4{
    font-size: 20px;
  }
  img{
    margin-top: 30px;
  }
}
.follow{
  padding-bottom: 50px;
  img:nth-of-type(2){
    margin-left: 60px;
  }
}




